@charset "utf-8";

/* dashboard */
*{ padding: 0; margin: 0; color: #fff; font-size: 12px; font-family:'맑은 고딕', 'Malgun Gothic', '돋움', Dotum, Roboto, Arial, 'Apple Gothic', sans-serif; line-height:1.3; letter-spacing:-0.05em; }
html, body{ height: 100%; background-color: #283750; -webkit-font-smoothing: antialiased; }
body .ifr{ background-color: transparent; }
ul, ol, dl{ list-style: none; margin-bottom:0; }
img{ border: 0; vertical-align: middle; }
table{ border: 0; padding: 0; border-collapse: collapse; border-spacing: 0; }
th, td{ padding: 0; }
input{ outline: none; }
input[type=text]{ background-color:#091016; border:0; border-bottom:1px #414955 solid; line-height:24px; padding:2px 5px; box-sizing:border-box; }
input[type=checkbox]{ width: 13px; height: 13px; vertical-align: middle; }
input[type=radio]{ width: 13px; height: 13px; vertical-align: middle; }
input[type=button]{ vertical-align: middle; }
input[type=file]{ vertical-align: middle; }
select{ height: 20px; margin: 0; vertical-align: middle; border-top: 1px #909090 solid; border-right: 1px #c0c0c0 solid; border-bottom: 1px #c0c0c0 solid; border-left: 1px #909090 solid; outline: none; }
textarea{ border-top: 1px #909090 solid; border-right: 1px #c0c0c0 solid; border-bottom: 1px #c0c0c0 solid; border-left: 1px #909090 solid; padding: 2px; vertical-align: middle; outline: none; overflow: auto; }
.multisel{ border-top: 1px #909090 solid; border-right: 1px #c0c0c0 solid; border-bottom: 1px #c0c0c0 solid; border-left: 1px #909090 solid; vertical-align: middle; outline: none; }
input[disabled], select[disabled], textarea[disabled]{ background-color: #ddd; opacity: 0.5; }
a, a img, map{ cursor: pointer; }
iframe{ overflow: hidden; }
button{ vertical-align: middle; border: 0; cursor: pointer; outline: none; background:transparent; line-height:1em; }
button span{ display:inline-block; vertical-align:middle; background-repeat:no-repeat; line-height:1em; }
button span.icon{ width:12px; height:12px; }

html{ scrollbar-3dLight-Color: #212b3d; scrollbar-arrow-color: #212b3d; scrollbar-base-color: #212b3d; scrollbar-Face-Color: #212b3d; scrollbar-Track-Color: #000e1a; scrollbar-DarkShadow-Color: #08111a; scrollbar-Highlight-Color: #212b3d; scrollbar-Shadow-Color: #212b3d }

::-webkit-scrollbar{ width: 8px; height: 8px; background-color:#08111a; } 
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment{ display: block; height: 6px;}
::-webkit-scrollbar-track{ background: #08111a; }
::-webkit-scrollbar-thumb{ height: 50px; width: 50px; background: #212b3d; border-radius:4px; }



.tiscreen_dashboard{ min-width:1000px; opacity:0; }

.header{ padding:5px; padding-bottom:0; }
.header > .inner{ height:42px; border:1px #000 solid; box-sizing:border-box; position:relative; 
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5a71a7+0,355088+25,22407f+50,163576+50,163576+50,194087+100 */
background: rgb(85,117,177); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(85,117,177,1) 0%, rgba(45,82,145,1) 25%, rgba(24,66,136,1) 50%, rgba(12,54,126,1) 50%, rgba(14,67,146,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(85,117,177,1) 0%,rgba(45,82,145,1) 25%,rgba(24,66,136,1) 50%,rgba(12,54,126,1) 50%,rgba(14,67,146,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(85,117,177,1) 0%,rgba(45,82,145,1) 25%,rgba(24,66,136,1) 50%,rgba(12,54,126,1) 50%,rgba(14,67,146,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a71a7', endColorstr='#194087',GradientType=0 ); /* IE6-9 */}

.header h1{ margin:0; font-size:11px; position:absolute; top:5px; left:15px; }
.header h1 img{ width:150px; height:26px; }
.header .dl_bx{ position:absolute; top:8px; }
.header .dl_bx dl{ overflow:hidden; display:block; margin:0; }
.header .dl_bx dl dt{ color:#a8c7f2; font-size:11px; font-weight:bold; height:24px; line-height:24px; float:left; padding:0 5px 0 0; overflow:hidden; box-sizing:border-box; }
.header .dl_bx dl dt span.icon{ display:inline-block; width:22px; height: 24px; line-height:1em; vertical-align:top; background:no-repeat left; }
.header .dl_bx dl dd{ background-color: #07121d; height:24px; float:left; overflow:hidden; border:1px #000 solid; border-bottom-color:#456299; box-sizing:border-box; position:relative;}

.header .notice{ left:20%; width:40%; }
.header .notice dl dt{ width:18%; text-align:right; }
.header .notice dl dt span.icon{ background:url(../../images/tiscreen/icon_notice.svg) no-repeat left; }
.header .notice dl dd{ width:82%; }
.header .notice dl dd ul{ position:absolute; padding:0 10px; box-sizing:border-box; top:2px; }
.header .notice dl dd ul li{ float:left; color:#5693f7; display:block; padding-right:20px; }

.header .current_time{ top:8px; right:120px; min-width:240px; }
.header .current_time dl dt span.icon{ background:url(../../images/tiscreen/icon_clock.svg) no-repeat left; }
.header .current_time dl dd{ width:150px; }
.header .current_time dl dd span{ color:#5693f7; font-family:Roboto, Arial; letter-spacing:0; font-size:14px; text-align: center; display:block; line-height:22px; }


.header .util{ position:absolute; top:10px; right:15px; }
.header .util ul{ overflow:hidden; }
.header .util ul li{ float:left; border:1px #112342 solid; border-right-width:0; border-bottom-color:#456299; line-height:0;}
.header .util ul li:last-child{ border-right-width:1px; }
.header .util ul li button{ width:36px; height:18px; line-height:1em; vertical-align:baseline;
background: rgb(90,113,167); /* Old browsers */
background: -moz-linear-gradient(top, rgba(78,98,129,1) 0%, rgba(46,64,105,1) 50%, rgba(25,45,87,1) 50%, rgba(25,46,90,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(78,98,129,1) 0%, rgba(46,64,105,1) 50%,rgba(25,45,87,1) 50%, rgba(25,46,90,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(78,98,129,1) 0%, rgba(46,64,105,1) 50%,  rgba(25,45,87,1) 50%,rgba(25,46,90,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a71a7', endColorstr='#194087',GradientType=0 ); }
.header .util ul li button:hover, .header .util ul li button.selected{
background: rgb(90,113,167); /* Old browsers */
background: -moz-linear-gradient(top, rgba(59,73,96,1) 0%, rgba(24,36,67,1) 50%, rgba(6,15,46,1) 50%, rgba(6,17,47,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(59,73,96,1) 0%, rgba(24,36,67,1) 50%,rgba(6,15,46,1) 50%, rgba(6,17,47,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(59,73,96,1) 0%, rgba(24,36,67,1) 50%,  rgba(6,15,46,1) 50%,rgba(6,17,47,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a71a7', endColorstr='#194087',GradientType=0 ); }
.header .util ul li button span.icon{ background:no-repeat center; display:block; width:100%; height:100%; }
.header .util ul li.reload button span.icon{ background-image: url(../../images/tiscreen/icon_reload.svg); }
.header .util ul li.dashboard_setting button span.icon{ background-image: url(../../images/tiscreen/icon_screen.svg); }
.header .util ul li.close button span.icon{ background-image: url(../../images/tiscreen/icon_close2.svg); }


.dropdown{ position:relative; }
.dropdown_toggle>span.caret{ display:inline-block; width:10px; height:10px; float:right; margin-left:5px; }
.dropdown_toggle>span.caret:after{ content:'↓'; }
.dropdown_layer{ position:absolute; display:none; z-index:9999; min-width:200px; background-color:#091016; }


/* dashboard_control */
.dashboard_control{ padding:5px; padding-top:0; position:relative; }
.dashboard_control .inner{ min-height:36px; border:1px #000 solid; border-top:0; position:relative; background-color:#162132; display:none; }
.dashboard_control dl{ padding:5px 15px; display:block; float:right; }
.dashboard_control dl>dt{ float:left; color:#a8c7f2; font-size:11px; font-weight:bold; padding:0 5px 0 0; }
.dashboard_control dl>dd{ float:left; line-height:1.8em; padding:0 2px; }
.dashboard_control dl>dd.bar{ opacity:0.3; }
.dashboard_control dl>dd>button{ height:22px; box-sizing:border-box; padding:0 0.85em; text-align:left; background-color:#192537; border:1px #384460 solid; }
.dashboard_control dl>dd>button:hover{ background-color:#323e57; }
.dashboard_control dl>dd>button.selected{ background-color:#323e57; }
.dashboard_control dl>dd.dashboard_name>button{ min-width:240px; background-color:#0e171e; }
.dashboard_control dl>dd.dashboard_name>button:hover{ background-color:#323e57; }
.dashboard_control dl>dd.dashboard_name>button.selected{ background-color:#323e57; }
.dashboard_control dl>dd.add_component>button{ }
.dashboard_control dl>dd.add_component>button:hover{ }
.dashboard_control dl>dd>button>span.icon{ width:10px; height:10px; line-height:1em; margin-right:5px; }
.dashboard_control dl>dd>button>span.txt{ display:inline-block; color:#ccc; }
.dashboard_control dl>dd.save_dashboard>button span.icon{ background-image: url(../../images/tiscreen/icon_save.svg); }
.dashboard_control dl>dd.add_dashboard>button span.icon{ background-image: url(../../images/tiscreen/icon_add.svg); }
.dashboard_control dl>dd.clone_dashboard>button span.icon{ background-image: url(../../images/tiscreen/icon_clone.svg); }
.dashboard_control dl>dd.add_component>button span.icon{ background-image: url(../../images/tiscreen/icon_add.svg); }


.dashboard_control dl>dd .dropdown_layer{ min-width:240px; background-color:#08111a; border:1px #323e57 solid; text-align:left; box-sizing:border-box; }
.dashboard_control dl>dd .dropdown_layer>ul{ padding:2px; }
.dashboard_control dl>dd .dropdown_layer>ul>li{ display:block; border-bottom:1px #323e57 solid; padding:0 0; }
.dashboard_control dl>dd .dropdown_layer>ul>li:last-child{ border-bottom:0; }
.dashboard_control dl>dd .dropdown_layer>ul>li>a{ display:block; color:#ddd; line-height:1.6; padding:5px 10px; text-decoration:none; }
.dashboard_control dl>dd .dropdown_layer>ul>li>a:not(.label):hover{ background-color:#192537; }
.dashboard_control dl>dd .dropdown_layer>ul>li a.label{ cursor:default; font-size:11px; opacity: 0.5; font-weight:bold; padding:10px 10px; }
.dashboard_control dl>dd .dropdown_layer>ul>li>ul{ padding:0; }
.dashboard_control dl>dd .dropdown_layer>ul>li>ul>li{ display:block; position:relative; }
.dashboard_control dl>dd .dropdown_layer>ul>li>ul>li:hover{ background-color:#192537; }
.dashboard_control dl>dd .dropdown_layer>ul>li>ul>li.selected{ background-color:#264998; }
.dashboard_control dl>dd .dropdown_layer>ul>li>ul>li>a{ display:block; color:#ddd; padding:5px 10px; text-decoration:none; }
.dashboard_control dl>dd .dropdown_layer>ul>li>ul>li .delete{ position:absolute; top:4px; right:10px; width:16px; height:16px; box-sizing:border-box; }
.dashboard_control dl>dd .dropdown_layer>ul>li>ul>li .delete span.icon{ background-image: url(../../images/tiscreen/icon_delete.svg); }
.dashboard_control dl>dd .dropdown_layer>ul>li>ul>li .delete:hover{ background-color:#000; }

.dashboard_control dl>dd.add_component>.dropdown_layer{ right:0; min-width:180px; }

.dashboard_control button.close{ position:absolute; top:9px; right:2px; }
.dashboard_control button.close span.icon{ background-image: url(../../images/tiscreen/icon_close2.svg); }

/* grid-stack */
.grid-stack{ margin:0 2.5px; }
.grid-stack > .grid-stack-item > .grid-stack-item-content{ background-color: #08111a; border:1px #000 solid; box-sizing:border-box; left:2.5px; right:2.5px; overflow:hidden; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-header{ padding:10px; position:relative; overflow:auto;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b4966+0,3b4966+100&1+0,0.3+40,0+80 */
background: -moz-linear-gradient(top, rgba(59,73,102,1) 0%, rgba(59,73,102,0.3) 30%, rgba(59,73,102,0) 70%, rgba(59,73,102,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(59,73,102,1) 0%, rgba(59,73,102,0.3) 30%, rgba(59,73,102,0) 70%, rgba(59,73,102,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(59,73,102,1) 0%, rgba(59,73,102,0.3) 30%, rgba(59,73,102,0) 70%, rgba(59,73,102,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5073b6', endColorstr='#00053c8e',GradientType=0 ); /* IE6-9 */
}

.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-header > h2{ color:#4e94fe; font-size:1em; font-weight:bold; margin:0; line-height:15px; float:left; padding:0 10px 0 0; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-header > .monitoring_time{ float:left; opacity:0.5; font-size:11px; font-family:Roboto, Arial; letter-spacing:0; line-height:15px; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-header ul{ position:absolute; top:10px; right:10px; margin:0; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-header ul li{ float:left; padding:0 0 0 5px; line-height:14px; font-size:0; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-header ul li button{ width:14px; height:14px; box-sizing:border-box; padding:2px; background:url(../../images/tiscreen/icon_setting.svg) no-repeat; background-size: 96%; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-header ul li button.setting{}
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-header ul li button.close{ background-image: url(../../images/tiscreen/icon_close.svg); }


.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container{ padding:0; /*background:#666;*/ }


/* no_data */
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container.no_data{ }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container.no_data div.no_data_content{ position:absolute; top:50%; left:50%; vertical-align:middle; text-align:center; width:50px; margin-left:-25px; margin-top:-20px; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container.no_data div.no_data_content span{ display:block; margin:0 auto; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container.no_data div.no_data_content span.icon{ width:30px; height:30px; background:url(../../images/tiscreen/icon_empty.svg) no-repeat; background-size:100%;  }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container.no_data div.no_data_content span.text{ color:#5e718a; font-size:11px; font-weight: bold; font-family:Arial; letter-spacing:0; line-height:1em; }


/* table */
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container .wrap_list{ height:100%; margin:0 10px; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container table{ min-width:100%; width:auto; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container table thead{}
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container table thead th{ font-size:11px; line-height: 1.2;  padding:5px; text-align:left; vertical-align:top;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#355088+0,22407f+50,194087+100 */
background: rgb(53,80,136); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(53,80,136,1) 0%, rgba(34,64,127,1) 50%, rgba(25,64,135,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(53,80,136,1) 0%,rgba(34,64,127,1) 50%,rgba(25,64,135,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(53,80,136,1) 0%,rgba(34,64,127,1) 50%,rgba(25,64,135,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#355088', endColorstr='#194087',GradientType=0 ); /* IE6-9 */
}
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container table tbody td{ line-height: 1.2;  padding:5px; text-align:left; color:#898e98; vertical-align:top; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container table tbody tr:nth-child(2n) td{ background-color:#0c182c; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container table tbody td span.icon_txt{ display:inline-block; font-size:11px; border:1px solid; text-align:center; min-width:70px; border-radius:2px; opacity:0.6; background-color:#08111a; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container table tbody tr.current td{ color:#4e94fe; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container table tbody tr.current td span.icon_txt{ opacity:1; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container table tbody td span.icon_txt.client_traffic{ color:#a7ff1c; border-color:#67a01b; }
.grid-stack > .grid-stack-item > .grid-stack-item-content > .grid-stack-item-content-container table tbody td span.icon_txt.port_traffic{ color:#4ee8e6; border-color:#34959c; }


/* 트리 */
.wrap_tree{ background:url(../../images/tiscreen/bg_tree.png); }
.jstree-default .jstree-hovered { background: #2b364d; border-radius: 0; box-shadow:none }
.jstree-default .jstree-context { background: #e7f4f9; border-radius: 2px; box-shadow: inset 0 0 1px #ccc }
.jstree-default .jstree-clicked { background:none; border-radius: 0; box-shadow: none; }



/************************************* divPopup *************************************/
.divPopup{ display:none; position:absolute; background:#121c2a; border:1px #000 solid; box-shadow: 0px 0px 26px 1px #17395b; }
.divPopup.pop_save_dashboard{ width:420px; min-height:120px; }

.divPopup .header{ padding:12px 15px 10px 15px; position:relative; 
background: -moz-linear-gradient(top, rgba(59,73,102,1) 0%, rgba(59,73,102,0.3) 30%, rgba(59,73,102,0) 70%, rgba(59,73,102,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(59,73,102,1) 0%, rgba(59,73,102,0.3) 30%, rgba(59,73,102,0) 70%, rgba(59,73,102,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(59,73,102,1) 0%, rgba(59,73,102,0.3) 30%, rgba(59,73,102,0) 70%, rgba(59,73,102,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b4966', endColorstr='#003b4966',GradientType=0 ); }
.divPopup .header h4{ font-size:1.1em; line-height:1.4em; color:#4e94fe; }
.divPopup .header .btn_close{ position:absolute; top:14px; right:14px; width:16px; height:16px; cursor:pointer; background:url(../../images/tiscreen/icon_close.svg) no-repeat; }
.divPopup .header .btn_close:hover{ background-position: -80px -160px; }
.divPopup .content{ padding:15px; }
.divPopup .content .scroll{ /*max-height:400px; overflow-y:auto;*/ }

.divPopup input[type=text]{  }

.divPopup .btn_area{ text-align:right; padding:0 15px 15px 15px; }
/* button */

.divPopup button{ min-width:60px; height:24px; background-color:#253045; }
.divPopup button:hover{ background-color:#323e57; }
.divPopup button.transparent{ background-color:transparent; border: none; }
.divPopup button.primary{ background-color:#264998; color:#fff; font-weight: bold; }
.divPopup button.primary:hover{ background-color:#107cff;  }


.pop_save_dashboard input[type=text]{ width:100%; }





















